/* CSS Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    margin-top: -1rem;
}

#info-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 5rem;
}

#button-container {
    display: flex;
    gap: 1rem;
}

#player-board-section {
    display: flex;
    margin-top: 1.5rem;
    gap: 18rem;
}

#info-container {
    display: flex;
    flex-direction: column;
}

.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.board {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: auto;
}

.coordinate-button {
    width: 3.5rem;
    height: 3.5rem;
}

.hide {
    display: none;
}

.show {
    display: block;
}

/* Menu screen layout */
.menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.button-menu-container {
    display: flex;
    gap: 2rem;
}

/* Input name screen layout */
form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.doneBtn {
    margin-top: 2rem;
    align-self: center;
    width: fit-content;
}

label {
    margin: 1rem;
}

/* Setup section */
.button-container.first-player,
.button-container.second-player {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}



/* Styling */
body {
    
}