/* CSS Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    margin-top: -1rem;
}

#info-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 5rem;
}

#button-container {
    display: flex;
    gap: 1rem;
}

#player-board-section {
    display: flex;
    margin-top: 1.5rem;
    gap: 18rem;
}

#info-container {
    display: flex;
    flex-direction: column;
}

.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.board {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: auto;
}

.coordinate-button {
    width: 3.5rem;
    height: 3.5rem;
}

.hide {
    display: none;
}

.show {
    display: block;
}

/* Menu screen layout */
.menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.button-menu-container {
    display: flex;
    gap: 7rem;
}

/* Input name screen layout */
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.doneBtn {
    margin-top: 3rem;
    align-self: center;
    width: fit-content;
}

label {
    margin: 1rem;
}

/* Setup section */
.button-container.first-player,
.button-container.second-player {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}



/* Styling */
body {
    background-image: url(./img/battleship-bg-4k.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.title {
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 13rem;
    color: rgba(249, 191, 59, 1);
}

.button-feature {
    width: fit-content;
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    font-family: "Staatliches", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;

    background-color: rgba(255,255,255, 1);
    border-radius: 25px;
    cursor: pointer;
}

form {
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 4rem;
}

.name-input {
    display: flex;
    align-items: center;
}

input {
    width: fit-content;

    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;

    border-radius: 25px;
    border-width: 3px;
    padding: 0.3rem;
    padding-left: 1rem;
}

input:focus {
    outline: none;
    border-color: rgba(249, 105, 14, 1);
    border-width: 2px;
    background-color: rgba(250, 190, 88, 1);
}

.doneBtn {
    width: fit-content;
    padding-left: 2rem;
    padding-right: 2rem;

    font-family: "Staatliches", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;

    background-color: rgba(255,255,255, 1);
    border-radius: 25px;
    cursor: pointer;
}

.doneBtn:hover {
    background-color: rgba(250, 190, 88, 1);
    border-color: rgba(249, 105, 14, 1);
    color: rgba(255,255,255, 1);
}